/* Базовые стили для шапки */
header {
  background-color: #ffffff; /* Чистый белый цвет фона */
  color: #005f73; /* Темно-синий цвет текста */
  border-bottom: 2px solid #00afad; /* Подчеркивание шапки цветом морской волны */
  padding: 20px 0px; /* Отступы сверху и снизу шапки */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для глубины */
}

.container.header-top {
  display: flex;
  justify-content: space-between; /* Расположение контента по концам */
  align-items: center; /* Вертикальное выравнивание */
}

.social-icons {
  color: #005f73;
  a {
    display: inline-block;
    margin-right: 0px; /* Отступы между иконками */
    color: #00afad; /* Цвет иконок в стиле минеральной воды */
    font-size: 1.5em; /* Немного увеличить иконки */
    transition: color 0.3s; /* Плавный переход цвета при наведении */
    padding: 15px;
    :hover {
      color: #003e4f; /* Затемненный синий при наведении */
    }
  }
}

h1 {
  font-size: 2.8em; /* Большой размер для заголовка */
  color: #003e4f; /* Темный синий для визуального воздействия */
  font-weight: bold; /* Жирный шрифт для внимания */
  margin: 0.5em; /* Убрать все отступы по умолчанию */
}

.contact-info a {
  color: #00afad; /* Цвет ссылок в стиле минеральной воды */
  font-size: 1.3em; /* Немного увеличить текст */
  transition: color 0.3s; /* Плавный переход цвета при наведении */
  padding: 20px;
}

.contact-info a:hover {
  color: #003e4f; /* Затемненный синий при наведении */
}

/* Стили для навигационного меню */
nav {
  background-color: #005f73; /* Темный синий фон */
  color: #ffffff; /* Белый текст для контраста */
  padding: 15px 0; /* Вертикальные отступы */
}

nav ul {
  list-style-type: none; /* Убираем стандартные маркеры списка */
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  display: flex; /* Используем флексбокс для горизонтального расположения элементов */
  justify-content: center; /* Центрируем элементы по горизонтали */
}

nav ul li {
  margin: 0 30px; /* Отступы между элементами меню */
}

nav ul li a {
  color: #ffffff; /* Белый цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание текста ссылок */
  font-size: 1.6em; /* Размер шрифта ссылок */
  transition: color 0.3s; /* Плавный переход цвета при наведении */
}

nav ul li a:hover {
  color: #00afad; /* Цвет текста при наведении */
  text-decoration: underline; /* Подчеркивание текста при наведении */
}



