/* Стили для галереи */
.gallery {
  padding: 50px 0; /* Увеличенные внутренние отступы */
  display: grid; /* Используем сетку для расположения изображений */
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  ); /* Автоматическое размещение изображений в несколько столбцов */
  justify-content: center; /* Выравнивание изображений по центру */
  gap: 10px; /* Отступ между изображениями */
}

/* Стили для изображений */
.gallery img {
  width: 100%; /* Ширина изображения по размеру контейнера */
  max-width: 450px; /* Максимальная ширина изображения */
  height: auto; /* Автоматическая высота */
  border-radius: 12px; /* Скругление углов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для изображений */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* Автоматическое размещение изображений в несколько столбцов на мобильных устройствах */
  }
}
// Variables
$primary-color: #005f73;
$secondary-color: #343a40;
$background-color: #f5f5f5;
$text-color: #333;
$hover-color: #007bff;
$border-radius: 8px;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

// Container for the gallery
.gallery-container {
  background-color: $background-color;
  padding: 20px;
  text-align: center;
}

// Grid layout for the images
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .fd {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .caption {
      padding: 15px;
      color: $text-color;

      h3 {
        margin: 0 0 10px;
        font-size: 1.5em;
        color: $secondary-color;
      }

      p {
        margin: 0;
        font-size: 1em;
        line-height: 1.6;
      }
    }
  }
}

// Load more button
.load-more-btn {
  padding: 10px 20px;
  border: none;
  background: $hover-color;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 40px auto;
  font-size: 16px;
  border-radius: $border-radius;
  box-shadow: 0px 8px 15px rgba(0, 123, 255, 0.5);
  transition: background 0.3s, box-shadow 0.3s;

  &:hover {
    background: darken($hover-color, 10%);
    box-shadow: 0px 15px 20px rgba(0, 123, 255, 0.4);
  }
}
